<div class="container">
  <div class="wall rounded shadow">

    <div *ngIf="user" class="row">
      <div class="col-md-3 col-sm-6">
        <img class="rounded img-thumbnail" height="250px" width="250px" src="http://212.125.24.247:8081/{{user.image.path}}">
        <!-- Button trigger modal -->
        <br>

        <button type="button" class="btn btn-outline-secondary my-1" data-toggle="modal" data-target="#myModal">
          Set Image
        </button>
      </div>
      <div class="col-md-9 col-sm-6">
        <ul class="list-group">
          <li class="list-group-item">{{user._id}}</li>
          <li class="list-group-item">{{user.username}}</li>
          <li class="list-group-item">{{user.email}}</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <button id="close" (click)="openModal();" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">

        <div *ngIf='!loading'>
          <div class="d-flex justify-content-center">
            <input type="file" style="display: none" (change)="onFileChanged($event)" #fileInput>
            <button class="btn btn-outline-secondary mr-2" (click)="fileInput.click();">Select image</button>
            <button class="btn btn-primary" [disabled]="!btnUploadState" (click)="onUpload()">Upload!</button>
          </div>
        </div>

        <hr>
        <div *ngIf="selectedFile">
          Selected File: <strong>{{selectedFile.name}}</strong>
        </div>
        <div *ngIf='loading' class="progress">
          <div class="progress-bar" [style.width]="status+'%'">{{status}}%</div>
        </div>
        <div *ngIf='result' class="alert alert-info fade show" role="alert">
          {{result}}
        </div>


      </div>


    </div>
  </div>
</div>

<!-- Modal -->