<div *ngIf=words class="row">
  <div class="container" style="min-height: 100vh;">
    <br>

    <!-- Head  -->
    <div class="container bg-white p-3">
      <div class="row">
          <!-- search -->
          <div class="col-md-10">
            <app-search-word></app-search-word>
          </div>
          <!-- search -->
          <!-- create word -->
          <div class="col-md-2">
            <div class="btn btn-outline-primary " data-toggle="modal" data-target="#createWordModal">Create Word </div>
          </div>
          <!-- create word -->
      </div>
    </div>
    <!-- Head  -->


    <!-- words -->
    <div class="wall">
      <div class="row">
        <div class="col-md-4" *ngFor="let word of words | paginate: { id: 'server', itemsPerPage: perPage, currentPage: p, totalItems: total }">
          <div class="card text-center wordCard" style="cursor: pointer;" (click)="setModalContent(word)" data-toggle="modal"
            data-target="#myModal">
            <div class="card-body">
              <h5 class="card-title">
                {{word.eng}}
              </h5>
              <div class="card-content">
                {{word.sentence}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- words -->

    <!-- pagination -->
    <div class="card">
      <div class="bg-wall justify-content-center d-flex mt-3">
        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)" id="server"></pagination-controls>
      </div>
    </div>
    <!-- pagination -->

  </div>

  <!-- [routerLink]="['/wordDetail', word._id]" -->

  <!-- Modal Detail-->
  <div *ngIf=modal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #wordForm>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="eng">Eng</label>
                  <input type="text" class="form-control" name="eng" [(ngModel)]="modal.eng" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tr">Tr</label>
                  <input type="text" class="form-control" name="tr" [(ngModel)]="modal.tr" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="sentence">Sentence</label>
              <input type="text" class="form-control" name="sentence" [(ngModel)]="modal.sentence" required>
            </div>

            <div class="form-group">
              <label for="category">Word Category</label>
              <select class="form-control" name="category" [(ngModel)]="modal.category" required>
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="update()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
          <button type="button" (click)="delete(modal._id)" data-dismiss="modal" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Detail -->

  <!--Create Word Modal -->
  <div class="modal fade" id="createWordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create New Word</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #wordForm>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="eng">Eng</label>
                  <input type="text" class="form-control" name="eng" required #eng>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tr">Tr</label>
                  <input type="text" class="form-control" name="tr" required #tr>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="sentence">Sentence</label>
              <input type="text" class="form-control" name="sentence" required #sentence>
            </div>

            <div class="form-group">
              <label for="category">Word Category</label>
              <select class="form-control" name="category" required #category>
                <option *ngFor="let category of categories">{{category}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="create(eng, tr, sentence, category)" data-dismiss="modal" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Create Word Modal -->
</div>