<div *ngIf="pools" class="container">
    <div class="wall shadow rounded">
        <!-- head -->
        <form>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="eng">Pool Name</label>
                        <input type="text" class="form-control" #poolName>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="color" class="form-control" value="#f6b73c" id="color" #color>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="color">&nbsp;</label>
                    <div (click)="createPool(poolName,color)" class="btn btn-outline-primary form-control">New Pool</div>
                </div>
            </div>
        </form>
        <!-- head -->
        <hr>
        <div class="row">
            <div *ngFor="let pool of pools" class="col-md-4">

                <div routerLink="./{{pool._id}}">
                    <div class="card shadow-sm" [style.border-left-color]="pool.color" style="border-left: solid 5px; cursor: pointer;">
                        <div class="card-body">
                            <div>{{pool.name}}</div>
                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div>
                                    {{pool.wordCount}}
                                </div>
                                <div>{{pool.createdAt | date: 'short' | slice:0:8}}</div>
                            </div>

                        </div>

                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>