<br>
<div *ngIf="pools" class="container">

    <!-- head -->
    <form class="bg-white">
       
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="input-group p-3">
                        <input type="text" class="form-control" placeholder="Pool Name" required #poolName>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary" (click)="createPool(poolName)">Create Pool</button>
                        </div>
                    </div>
                </div>
           
        </div>

    </form>
    <!-- head -->

    <div class="wall">
        <div class="row">
            <div *ngFor="let pool of pools" class="col-md-3">
                <div class="card text-black">
                    <a routerLink="./{{pool._id}}">
                        <img class="card-img-top" src="https://lh3.googleusercontent.com/FyZA5SbKPJA7Y3XCeb9-uGwow8pugxj77Z1xvs8vFS6EI3FABZDCDtA9ScqzHKjhU8av_Ck95ET-P_rPJCbC2v_OswCN8A=s688">
                        <div class="card-body text-center">
                            {{pool.name}}
                        </div>
                    </a>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>