<br>
<div *ngIf="pools" class="container">
  <h3>Create a new Pool</h3>
  <hr>
  <!-- form -->
      <form>
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Pool Name" required #poolName>
            </div>
          </div>

          <div class="col-md-2">
              <button type="submit" (click)="createPool(poolName)" class="btn btn-dark">Create</button>
          </div>
        </div>

        </form>
  <!-- form -->
      <h3>Pools</h3>
      <hr>
      <div class="row">
          <div *ngFor="let pool of pools" class="col-md-4">
              <div class="card text-black" >
                  <img class="card-img-top" src="https://via.placeholder.com/150x100">
                  <div class="card-body text-center">
                      <a routerLink="./{{pool._id}}"><h5>{{pool.name}}</h5></a>
                  </div>
                </div>
                <br>
          </div>
      </div>
</div>